<H1>NOTEBOOK<H1>

<p> My introduction: Computer Sciences student who is interested in Data Sciences these days</p>
<br>

 <h4>List of Data Science Languages</h4>
        <ol>
            <li>R</li>
            <li>SQL</li>
            <li>Java</li>
            <li>Julia</li>
            <li>etc.</li>
        </ol>
        <br>

<h4>List of Data Science Libraries</h4>
        <ul>
            <li>TensorFlow</li>
            <li>SciPy</li>
            <li>NumPy</li>
            <li>Pandas</li>
            <li>MatPlotlib</li>
            <li>etc.</li>

<br>
<h4> Table of Data Science tools </h4>

  <table border="1px">
            <tr>
                <td><h4>Data Science tools</h4></td>
            </tr>
            <tr>
                <td>Python</td>
            </tr>
            <tr>
                <td>SQL</td>
            </tr>
            <tr>
                <td>Jupyter</td>
            </tr>
            <tr>
                <td>etc.</td>
            </tr>
        </table>
        <br>

<h4>Markdown cell introducting arithmetic expression</h4>

In [7]:
code = compile("3 + 7", "<string>", "eval")
eval(code)

10

<br>
<h4>Code cell to multiply and add numbers</h4>

In [8]:
(8*2)+6

22

<br>
<h4>Code cell to convert minutes to hours</h4>

In [14]:
days = 0
hours = 0
mins = 0

total_minutes = 400

calculated_minutes = total_minutes % 1440
hours = calculated_minutes / 60
print(str(hours) + " hours")

6.666666666666667 hours

<br>
<h4>Markdown cell to list Objectives</h4>

<p>Create a new markdown cell underneath the introduction cell from Exercise 3 to identify the goals this notebook covers (i.e., some of the main lessons learned from the course). Start this new cell's introduction with the words "Objectives" in bold. Then, list 3 to 5 topics addressed in this notebook using an unordered list (bullets), such as "List popular languages for Data Science."
</p>

<br>
<h4>Markdown cell to indicate the Authorâ€™s name</h4>

<h4>Author</h4> <p>Roaid Mustafa</p>